.settings {
    
}

.invisible {
    display: none;
}

div.visible {
    display: block;
}

span.visible {
    display: inline;
}

.audiofile {

    .audiofile-timestamp {
    }

    .audiofile-filename {
        padding-left: 10px;
    }

    .audiofile-extension {
    }
}
